<!--
 * Name: Aaron Weiss
 * Course: CSC-415
 * Semester: Fall 2017
 * Instructor: Dr. Pulimood
 * Project Name: TCNJ-Speaks
 * Project Description: Bring awareness to community about relevant social justice issues.
 * File Name: app.component.html
 * File Description: HTML information of the parent component of the entire application.
 * Last Modified: 12/01/17 (m/d/y)
-->

<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" uiSref="home"><i class="fa fa-home"></i> TCNJ-Speaks</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav pull-right">
                    <li><a uiSref="report"><i class="fa fa-flag"></i> Report</a></li>
                    <li><a uiSref="statistics"><i class="fa fa-bar-chart"></i> View Statistics</a></li>
                </ul>
            </div>
        </div>
    </nav>

<!-- Inject Views here -->
<ui-view></ui-view>