<!--
 * Name: Aaron Weiss
 * Course: CSC-415
 * Semester: Fall 2017
 * Instructor: Dr. Pulimood
 * Project Name: TCNJ-Speaks
 * Project Description: Bring awareness to community about relevant social justice issues.
 * File Name: app.component.html
 * File Description: HTML information of the home component.
 * Last Modified: 11/10/17 (m/d/y)
-->

<div class="container">
	<div class="jumbotron-fluid text-center">
		<h1>TCNJ-Speaks</h1>
		<p class="lead">This website is designed to bring awareness to the most important issues occuring on campus.</p>
		<hr class="my-4">
		<p>Get started by viewing existing data, or let your voice be heard by generating a report.</p>
	</div>

	<a uiSref="statistics">
		<div class="jumbotron text-center">
		    <h1> View Statistics </h1>
		</div>
	</a>
	<a uiSref="report">
		<div class="jumbotron text-center">
		    <h1> Submit a Report </h1>
		</div>
	</a>
</div>
