/* Name: Aaron Weiss
 * Course: CSC-415
 * Semester: Fall 2017
 * Instructor: Dr. Pulimood
 * Project Name: TCNJ-Speaks
 * Project Description: Bring awareness to community about relevant social justice issues.
 * File Name: statistics.component.css
 * File Description: Stylesheet for StatisticsComponent. Overrides any Bootstrap CSS.
 * Last Modified: 11/10/17 (m/d/y)
*/

.drop-shadow {
        -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
    }

.container.drop-shadow {
        padding-left:0;
        padding-right:0;
    }

.align-middle {
    vertical-align:middle;
    text-overflow: ellipsis;
  }